/* About Page Styles */
.about-page {
  background-color: #f0f3f8; /* Calming background color */
  padding: 20px;
  text-align: center;
}

.about-header {
  margin-bottom: 20px;
}

.about-title {
  font-size: 3rem;
  color: #f47141; /* Light blue accent color */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* Text shadow for depth */
}

.about-subtitle {
  font-size: 1.8rem;
  color: #968c84; /* Light text color */
}

.about-section-title {
  font-size: 2.2rem;
  color: #333; /* Dark text color */
  margin-bottom: 15px;
  text-transform: uppercase; /* Uppercase text */
  letter-spacing: 2px; /* Letter spacing for emphasis */
}

.about-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0;
}

.about-image {
  position: relative;
  max-width: 100%;
  height: auto;
  overflow: hidden;
  border-radius: 10px; /* Rounded corners for the image */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); /* Box shadow for a lifted effect */
}

.about-image img {
  width: 100%;
  height: auto;
  display: block;
}

.image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.6); /* Semi-transparent overlay */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.about-feature-list li {
  font-size: 1.4rem;
  color: #333; /* Dark text color */
  margin-bottom: 10px;
}

.about-feature-list i {
  color: #f47141; /* Light blue accent color */
  margin-right: 10px;
  font-size: 1.6rem;
}

/* Font Awesome Icons */
.fa-check-circle::before {
  content: "\f058";
  font-family: FontAwesome;
  margin-right: 5px;
  color: #f47141; /* Light blue accent color */
}

/* Hover effect for the features */
.about-feature-list li:hover {
  transform: scale(1.05); /* Enlarge on hover */
  color: #f47141; /* Change text color on hover */
  transition: transform 0.3s ease, color 0.3s ease; /* Smooth transition */
}

/* Hover effect for the image */
.about-image:hover {
  transform: scale(1.05); /* Enlarge on hover */
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3); /* Enhanced box shadow on hover */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition */
}
