/* articles.css */

/* Article List Styles */
.article-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.article-list-item {
  margin-bottom: 20px;
}

.article-list-item a {
  text-decoration: none;
  color: #f47141; 
  font-size: 1.2rem;
  display: block;
  transition: color 0.3s ease;
}

.article-list-item a:hover {
  color: #b90f0f;
}

/* Article Styles */
.article-detail {
  max-width: 800px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.article-detail h1 {
  font-size: 2rem;
  color: #f47141; 
  margin-bottom: 10px;
}

.article-detail p {
  font-size: 1.2rem;
  line-height: 1.5;
  color: #f47141; 
  margin-bottom: 20px;
  margin-top: 10%;
}

/* Comments Styles */
.article-detail h2 {
  font-size: 1.5rem;
  color: #f47141; 
  margin-top: 30px;
}

.article-comments {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Updated Comment Styles */
.comment {
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.comment p {
  font-size: 1rem;
  color:#f47141; 
  margin: 0;
  padding: 5px 0;
  font-weight: bold;
}

.comment .comment-date {
  font-size: 0.9rem;
  color: #121111;
}
.comment .comment-name {
  font-size: 0.9rem;
  color: #121111;
}

/* Add some spacing between comments */
.comment + .comment {
  margin-top: 15px;
}


/* Comment Form Styles */
.comment-form {
  margin-top: 20px;
}

.comment-form textarea {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: vertical;
}

.comment-form button {
  padding: 8px 16px;
  font-size: 1rem;
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.comment-form button:hover {
  background-color: var(--secondary-color);
}

/* Responsive Styles */
@media (max-width: 768px) {
  .article-detail {
    padding: 10px;
  }
}
