/* Navbar Styles */
/* /////Nav Bar ////// */

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #f47141; /* Change the background color */
  height: 50px; /* Set the desired height */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  z-index: 1000; /* Ensure the navbar appears above other content */
}

.navbar-tabs {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin: 0;
}

.nav-item {
  font-size: 20px;
  margin: 0 20px;
  transition: color 0.3s;
  /* Add a smooth color transition on hover */
}

.nav-item a {
  text-decoration: none;
  color: white;
}

.nav-item a:hover {
  color: #f47141;
}


.buttons-container {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: #151515;
  display: flex;
  justify-content: center;
  border-top: 1px solid #353535;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.buttons-container ul {
  list-style: none;
  display: flex;
  align-items: center;
}

.nav-item {
  margin: 0 1px;
  height: 65px;
  width: 95px;
  background: #202020;
  border-top: 1px solid #353535;
  box-shadow: 0 15px 20px 0 rgba(0, 0, 0, 0.5);
  transition: all 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
  &:first-child {
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
  }
  &:last-child {
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
  }
  &:hover {
    cursor: pointer;
  }
}

.nav-item a {
  color: gray;
  text-decoration: none;
  font-size: 20px;
  transition: all 0.5s;
}

.active {
  background: #151515;
  border-top: none;
  border-bottom: 1px solid #252525;
  box-shadow: inset 0 0 10px 1px rgba(0, 0, 0, 0.8);
}

.active-text {
  color: crimson;
  text-shadow: 0 0 15px rgba(220, 10, 10, 0.5);
}

/* Increase the size of the "Log Out" button */
.logout-link,
.nav-item a {
  font-size: 15px;
  padding: 8px 16px; /* Adjust padding for larger buttons */
}

.navbar {
  background-color: #f47141; /* Change the background color */
  height: 50px; /* Set the desired height */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.navbar-logo {
  font-size: 24px;
  color: white;
  text-decoration: none;
}

.navbar-links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar-links li {
  margin-right: 20px;
}

.navbar-links a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 16px;
}

/* Update styles for smaller screens */
@media (max-width: 768px) {
  .navbar {
    height: 30px; /* Adjust height for smaller screens */
  }

  .navbar-logo {
    font-size: 20px; /* Adjust font size for smaller screens */
  }

  .navbar-links {
    font-size: 14px; /* Adjust font size for smaller screens */
  }
}
