:root {
  --white: #FFFFFF;
  --tan-1: #FBF9F6;
  --tan-2: #E7E2DD;
  --tan-3: #E2D9D1;
  --tan-4: #D3C1AE;
  --orange: #F67F00;
  --text-light: #968c84;
  --text-dark: #615954;

  --background: #F0F3F8; /* Light blue-gray background */
  --accent: #5C9AEA; /* Light blue accent color */
}

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: var(--background);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 2vmin;
}

.form-container {
  background-color: #FFFFFF; /* White background for the form */
  border: 1px solid #D1D8DD; /* Light gray border */
  border-radius: 8px;
  padding: 20px;
  text-align: center;
  width: 100%;
  max-width: 400px; /* Set a maximum width for the form container */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add a subtle shadow for depth */
}

label {
  font-size: 16px;
  display: block;
  margin-bottom: 10px;
}

input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #D1D8DD; /* Light gray border */
  border-radius: 5px;
  color: var(--text-dark);
  background-image: none !important;
  outline: none;
  width: 100%;
  margin-bottom: 15px;
}

button {
  padding: 10px 20px;
  color: var(--white);
  background-color: var(--accent); /* Light blue accent color for buttons */
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  border: none; /* Removed border */
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  width: 100%;
}

button:disabled {
  cursor: not-allowed;
  background-color: #D1D8DD; /* Disabled button color */
}
h1 {
  font-family: 'Poppins', sans-serif; /* Use the 'Poppins' font or any other cooler font you prefer */
  font-size: 2.5rem; /* Adjust the font size as needed */
  color: #5C9AEA;
  text-align: center; /* Center-align the heading */
  margin-bottom: 20px; /* Add some spacing at the bottom */
}

/* Add this CSS to your existing stylesheets */

.navbar {
  background-color: #333;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.navbar-toggle {
  cursor: pointer;
  display: none; /* Hide on larger screens */
}

.navbar-links {
  display: flex;
  gap: 20px;
}

.navbar-links a {
  color: white;
  text-decoration: none;
}

.navbar-links span {
  margin-right: 10px;
}

/* Media query for small screens */
@media (max-width: 768px) {
  .navbar-toggle {
    display: block; /* Show on small screens */
  }

  .navbar-links {
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    background-color: #333;
    text-align: center;
    display: none; /* Initially hide on small screens */
  }

  .navbar-links.open {
    display: flex; /* Show when the menu is open */
  }

  .navbar-links a {
    padding: 10px 0;
    border-bottom: 1px solid #555;
  }
}
